@import url(http://fonts.googleapis.com/css?family=Laila:400,700);
br { display: block; line-height: 1.6em; } 
 label
  {
	  font-weight:700;
	  	  padding:3px;
  }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
.an
{
	background-color:#099;
	width:auto;
	padding:5px;
	text-align:center;
	font-size:16px !important;
}
  .col-2, .col-3, .col-4 
	  {
		  color:222 !important;
	  }
.an a
{
	text-decoration:none;
	color:#FFF;
}
h1 {
  display: block;
  font-size: 3.1em;
  line-height: 1.45em;
  font-family: 'Laila', serif;
  text-align: center;
  font-weight: bold;
  color: #555;
  text-shadow: 1px 1px 0 #fff;
}


/** form field **/
.form {
  display: block;
  margin: 20px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
}

.form > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}
.form > div.switch > label {
  padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 { 
  border-bottom: 1px solid #e4e4e4;
  margin:5px;
  padding:5px;
}

.form > div > .col-4 {
  height: 86px;
}

label > .wrapper1 input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 34px;
  line-height: 34px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #222;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}

.col-submit {
  text-align: center;
  padding: 20px;
}

label > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #222;
  margin: 16px 0 6px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
  height:94%;
}

label > input:focus, label > select:focus {
  opacity: 1;
}



/** button design based on http://codepen.io/guvootes/pen/eyDAb **/
button {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  outline: none;
}

button.submitbtn {
  background-image: -moz-linear-gradient(#97c16b, #8ab959);
  background-image: -webkit-linear-gradient(#97c16b, #8ab959);
  background-image: linear-gradient(#97c16b, #8ab959);
  border-bottom: 1px solid #648c3a;
  cursor: pointer;
  color: #fff;
}
button.submitbtn:hover {
  background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
  background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
  background-image: linear-gradient(#8ab959, #7eaf4a);
}
button.submitbtn:active {
  height: 34px;
  border-bottom: 0;
  margin: 1px 0 0 0;
  background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
  background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
  background-image: linear-gradient(#7eaf4a, #8ab959);
  -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}
.error
{
	color:#f00;
}
.welcome
{
	background-color:#ba9876;
	color:#FFFFFF;
	height:60px;
	padding-left:10px;
	padding-bottom:5px;
	padding-top:5px;
	width:100%;
}
.head
{
	background-color:#966;
	color:#fff;
	font-size:16px !important;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	padding:12px;
}
.tags
{
	background-color:#FFF; border:#BBB 1px solid; padding:5px; margin:5px; text-align:justify;
}
.tags a
{
	text-decoration:none;
	color:#006699 !important;
}
.tags a:hover
{
	text-decoration:none;
	color:#000000 !important;
}
/** responsive design **/
@media(min-width: 850px){
  form > div { display: inline-block; }
  .col-submit { display: block; }
  
  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; margin:5px;
  padding:5px; float:left; }
  
  .col-2 { width: 45% }
  .col-3 { width: 30.3333333333% }
  .col-4 { width: 22% }
  
  .col-submit button { width: 30%; margin: 0 auto; }
}
